This notebook is meant to merge the data table which contains the details of the experiments and the table which contains the results scrapped from the reports geenrated by Ansys.<br>

The process mentioned above is known as Table Join.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("./test_metadata-free-free-system.csv")
df1.head()

    d1   d2   l1   l2
0  0.5  0.5   63  510
1  0.5  0.5  255  742
2  0.5  0.5  284  392
3  0.5  0.5  290  804
4  0.5  0.5  440  639

In [3]:
df2 = pd.read_csv("../Reports/Fixed-Fixed-Scrapped-Data/Fixed-Fixed-Test.csv")
df2.head(18)

    Index  Mode  Frequency  Max_Deflection  Average_Deflection
0     1.0   1.0     52.613          7.5540              3.8030
1     1.0   2.0    144.790          7.2355              3.6191
2     1.0   3.0    283.540          7.3149              4.0421
3     1.0   4.0    322.530         11.8550              4.5453
4     1.0   5.0    468.260          7.4041              3.8655
5     1.0   6.0    489.250          7.4189              3.8899
6     2.0   1.0     52.730          7.5491              3.8768
7     2.0   2.0    145.000          7.2373              4.5900
8     2.0   3.0    284.560          7.3335              4.6257
9     2.0   4.0    322.740         11.8650              4.7365
10    2.0   5.0    468.820          7.4455              3.8296
11    2.0   6.0    489.270          7.4189              3.9768
12    3.0   1.0     52.718          7.5589              4.2583
13    3.0   2.0    145.590          7.2449              4.4668
14    3.0   3.0    284.710          7.3420              4.0085
15    3.0   4.0    322.950         11.8590              5.0308
16    3.0   5.0    470.430          7.4485              4.2504
17    3.0   6.0    489.290          7.4191              4.3315

# Transformation of Tables

In [4]:
# Transformation on Table I

df1[["l1", "l2"]] = df1[["l1", "l2"]].astype(int)

In [5]:
# Transformation on Table II

df2[["Index", "Mode"]] = df2[["Index", "Mode"]].astype(int)
df2[["Index"]] -= 1

# Joining of Table

In [6]:
result = df1.join(df2.set_index("Index"))
result.head(18)

    d1   d2   l1   l2  Mode  Frequency  Max_Deflection  Average_Deflection
0  0.5  0.5   63  510     1     52.613          7.5540              3.8030
0  0.5  0.5   63  510     2    144.790          7.2355              3.6191
0  0.5  0.5   63  510     3    283.540          7.3149              4.0421
0  0.5  0.5   63  510     4    322.530         11.8550              4.5453
0  0.5  0.5   63  510     5    468.260          7.4041              3.8655
0  0.5  0.5   63  510     6    489.250          7.4189              3.8899
1  0.5  0.5  255  742     1     52.730          7.5491              3.8768
1  0.5  0.5  255  742     2    145.000          7.2373              4.5900
1  0.5  0.5  255  742     3    284.560          7.3335              4.6257
1  0.5  0.5  255  742     4    322.740         11.8650              4.7365
1  0.5  0.5  255  742     5    468.820          7.4455              3.8296
1  0.5  0.5  255  742     6    489.270          7.4189              3.9768
2  0.5  0.5  284  392     1     52.718          7.5589              4.2583
2  0.5  0.5  284  392     2    145.590          7.2449              4.4668
2  0.5  0.5  284  392     3    284.710          7.3420              4.0085
2  0.5  0.5  284  392     4    322.950         11.8590              5.0308
2  0.5  0.5  284  392     5    470.430          7.4485              4.2504
2  0.5  0.5  284  392     6    489.290          7.4191              4.3315

In [7]:
# Removing the Spurious Recors

result = result[~np.isnan(result["Mode"])]

In [8]:
result["Mode"] = result["Mode"].astype(int)

# Exporting the Table

In [9]:
result.to_csv("Fixed-Fixed-Test.csv", index=False)
result.to_excel("Fixed-Fixed-Test.xlsx", index=False)